.App-logo {
    max-width: 100px;
    margin-top: 10px;
}

.App-logo:hover {
    cursor: pointer;
}

.ProfileLabel, .stats-button {
    float: right;
    top: 10px;
}

.stats-button {
    margin-top: 10px !important;
}