.LoginPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12%;
}

.LoginFormContainer {
  width: 300px;
}

.PlanChooserContainer {
  height: 23%;
}

.ui.attached.very.padded.segment {
  background-color:transparent;
  border: none;
}

.SignupStepperContainer {
  align-items: center;
  width: 550px;
  /*text-align: center;*/
}

.SignupFormContainer, .PlanChooserContainer {
  width: 300px;
  align-items: center;
  margin: auto;
  /*text-align: center;*/
}

.SignupStepperContainer .title {
  text-align: center;
  /*margin-left: 150px;*/
}

.PaymentFormContainer {
  width: 500px;
  margin: auto;
}
/*.ui.mini.steps {*/
  /*width: 600px;*/
/*}*/

.ui.mini.steps .title{
  color:black !important;
}