body {
    background-color: black;
}

.ui.card.profile-card {
    border: 1px solid black;
}

.ui.card.profile-card:hover {
    border: 1px solid red;
}

.profile-card .edit-button {
    background-color: transparent !important;
    float: right;
}

#logo {
    margin: 15px;
    max-width: 100px;
}

.ProfilePage {
    margin-top: 20%;
}

.ProfileForm {
    max-width: 300px;
    margin: auto;
}